# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.python-version

# Environment
.env
.env.*

secrets/
firebase-key.json

minio_data/
**/xl.meta
**/.minio.sys/


# Allow documented samples
!datalake/**/README.md
!datalake/**/sample_*.csv
!datalake/**/sample_*.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.pid