version: "3.8"

services:
  minio:
    image: minio/minio:latest
    container_name: touchgrass-minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - ../.env
    volumes:
      - /home/minamotoyuki/touchgrass/minio_data:/data

  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: touchgrass-app
    working_dir: /app
    environment:
      - PYTHONPATH=/app
      - MINIO_ENDPOINT=minio:9000
    volumes:
      - ../:/app
    env_file:
      - ../.env
    ports:
      - "5000:5000"